<!DOCTYPE html>
<html>
<head>
<style type="text/css">
	html { 
		height: 100% 
	}
	body { 
		height: 100%; 
		margin: 0; 
		padding: 0;
		font-family: sans-serif;
	}
	#map_canvas { 
		height: 100% 
	}
	div#login {
  		margin-left: 630px;
  		top: 17px;
  		width: 300px;
  		position: absolute;
		background-color: white;
		padding: 20px;
		border-radius: 5px;
		-moz-border-radius: 5px;
		border:1px solid #ccc;
	}
</style>
<script type="text/javascript" 
	src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDFYRAM772sUm9kQtUa73mfBuxYXs8T9n0&sensor=false">
</script>
<script type="text/javascript">
function initialize()  {
	var randlng = random(-180, 180, 3);
	var randlat = random(-90, 90, 2);
	var mapOptions = {
		center: new google.maps.LatLng(randlat, randlng),
		zoom: 4,
		mapTypeId: google.maps.MapTypeId.ROADMAP
        };
	var map = new google.maps.Map(document.getElementById("map_canvas"),
		mapOptions);
	}
function random(from, to, fixed) {
    return (Math.random() * (to - from) + from).toFixed(fixed) * 1;
    // .toFixed() returns string, so ' * 1' is a trick to convert to number
}

	// $(document).ready(function(){
	// 	initialize();
	// };
</script>
</head>
<body onload="initialize()">
<div id="map_canvas" style="width:100%; height:100%"></div>

<div id="login">
<img src="/static/img/logo-large.png">

  <h4>Create an account</h4>

	<form action="" method="post">
		{% csrf_token %}
		<table>
		{% for field in form %}
		<tr>
            <td>{{ field.errors }}
            {{ field.label_tag }}:</td> <td>{{ field }} </td>
        </tr>
    	{% endfor %}
    	</table>
      <input type="submit" value="Create your account">
  </form>

</div> 

</body>
</html>