<!DOCTYPE html>
<html>
<head>
<style type="text/css">
	html { 
		height: 100% 
	}
	body { 
		height: 100%; 
		margin: 0; 
		padding: 0 
	}
	#map_canvas { 
		height: 100% 
	}
	div#login {
  		margin-left: 630px;
  		top: 17px;
  		width: 300px;
  		position: absolute;
		background-color: white;
		padding: 20px;
		border-radius: 5px;
		-moz-border-radius: 5px;
		border:1px solid #ccc;
	}
</style>
<script type="text/javascript" 
	src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDFYRAM772sUm9kQtUa73mfBuxYXs8T9n0&sensor=false">
</script>
<script type="text/javascript">
  function initialize()  {
	var mapOptions = {
		center: new google.maps.LatLng(-34.397, 150.644),
		zoom: 8,
		mapTypeId: google.maps.MapTypeId.ROADMAP
        };
	var map = new google.maps.Map(document.getElementById("map_canvas"),
		mapOptions);
	}

	// $(document).ready(function(){
	// 	initialize();
	// };
</script>
</head>
<body onload="initialize()">
<div id="map_canvas" style="width:100%; height:100%"></div>

<div id="login">
<img src="/static/img/logo-large.png">

  <h1>Create an account</h1>

	<form action="" method="post">
		{% csrf_token %}
		<table>
		{% for field in form %}
		<tr>
            <td>{{ field.errors }}
            {{ field.label_tag }}:</td> <td>{{ field }} </td>
        </tr>
    	{% endfor %}
    	</table>
      <input type="submit" value="Create your account">
  </form>

</div> 

</body>
</html>