<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/static/css/ui-lightness/jquery-ui-1.8.22.custom.css" type="text/css" />
    <link rel="stylesheet" href="/static/css/style.css" type="text/css"/>
    <script type="text/javascript"
      src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDFYRAM772sUm9kQtUa73mfBuxYXs8T9n0&sensor=false"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/jquery-ui-1.8.22.custom.min.js"></script>
    <link rel="icon" type="image/png" href="/static/img/favicon.png" />
    <script type="text/javascript">
    // inline script
    var marks = jQuery.parseJSON("{{ posts|escapejs }}");
    </script>
    <script type="text/javascript" src="/static/js/application.js"></script>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    <title>[geonote] leave your mark around the world</title>
  </head>

  <body>
    <div class="wide">
      <div class="center">
        <div id="logo"> <img src="/static/img/logo-small.png"></div>
        <div id="bigmap"><a id="ticker" href="#">ticker</a></div>
        <div id="note"><a id="apostnote" href="#">note</a></div>
        <div id="login">{% if user.is_authenticated %} 
          {{ user.username }}
          {% else %}
          not logged in
          {% endif %} 
        </div>
        <div id="logout"> 
          <a href="/accounts/logout/?next=/">logout</a> 
        </div>
        <div id="search"> 
          <input type="text" id="address" value=""/><button onclick="search();">Search</button>
        </div>
      </div>
    </div>
    <div id="map_canvas"></div>
    <div id="lightbox"> 
      <div id="lb_title"></div>
      <div id="lb_body"></div>
      <a id="xclose" href="">[x]</a>
    </div>
    <div id="postnote"> 
      <a id="closepost" href="">[x]</a>
      <form action="/marks/" method="post">
        {% csrf_token %}
        <p> title: <input type="text" name="title" id="title" />
        <p> description: <p> 
        <textarea name="body" id="body" cols="25" rows="5"> </textarea>
        <input type="hidden" name="lon" id="lon">
        <input type="hidden" name="lat" id="lat">
        <p><input type="submit" value="add a note" />
      </form>
    </div>
    <div id="ticker" class="shadow">
      <a id="xticker" href="#">[x]</a>
    </div>
    <div class="wide">
      <div class="center">
        <div id="seo">
          </div>

        <div id="credit">
          <a href="https://twitter.com/wendiewang" class="twitter-follow-button" data-show-count="false" data-show-screen-name="true">Follow @wendiewang</a></div>
      </div>
    </div>
  </body>
  
</html>
